@charset "utf-8";
/* CSS Document */


	*{
		margin: 0;
		padding: 0;
	}
	body{
background-color: #363636;
	}/*reset*/
	
	
	#yxbox{
		padding: 0;
		margin:100px auto 0;
		list-style: none;        /*  消除li的默认样式小圆点*/
		position:relative;
	}
	#yxbox li{
		width:50px;
		height:50px;
		float: left;
	}
	#yxbox .pos0/*多类选择器*/{
		background:#999 no-repeat;
	}
	#yxbox .pos1{
		background:url('Images/wall.png') no-repeat;
	}
	#yxbox .pos2{
		background:url('Images/allow_bg.jpg') no-repeat;
	}
	#yxbox .pos3{
		background:url('Images/target.jpg') no-repeat;
	}
	
	#yxbox .person1,#yxbox .person2,#yxbox .person3,#yxbox .person4{
		width:50px;
		height:50px;
		position:absolute;
		background-image:url('Images/person.png');
		background-repeat: no-repeat;
	}
	#yxbox .box{
		width:50px;
		height:50px;
		position:absolute;
		background-image:url(Images/box.png);
		background-repeat: no-repeat;
	}
	#yxbox .person1{
		background-position:0;
	}
	#yxbox .person2{
		background-position: -50px 0;
	}
	#yxbox .person3{
		background-position: -100px 0;
	}
	#yxbox .person4{
		background-position: -150px 0;
	}
